[Unit]
Description=Tmanz custom shutdown script
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
Conflict=reboot.target halt.target

[Service]
Type=oneshot
ExecStop=/usr/local/bin/shutdown_script.sh
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target reboot.target halt.target
