[Unit]
Description=Tmanz custom startup script
After=network.target

[Service]
ExecStart=/usr/local/bin/startup_script.sh
Type=simple
User=root

[Install]
WantedBy=multi-user.target
